<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="false" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<!-- 사용할 DTO들을 예약어로 등록 -->
		<typeAlias type="ido.arduino.dto.TeamDTO" alias="TeamInfo"/>

		
	</typeAliases>

	<mappers>
		<!-- 사용할 mapper 등록 -->
		<mapper resource="mybatis/mapper/TeamInfoMapper.xml" />
		
	</mappers>
</configuration>