<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ido.arduino.dao.CourtMapper">
	<!-- Validation -->
	<select id="checkValid" parameterType="String"
		resultType="String">
		SELECT password FROM admin WHERE id = #{id}
	</select>

	<select id="login" parameterType="String"
		resultType="CourtAdminDTO">
		SELECT adminID, id, stadiumID, name
		FROM admin, court as c
		WHERE id = #{id} and c.courtID = admin.stadiumID
	</select>

	<select id="getCourtInfo" parameterType="int" resultType="CourtDTO">
		SELECT * FROM court WHERE courtID=#{courtID}
	</select>
	
	<!-- 신뢰도 수정 -->
	<select id="reliability" parameterType="map">
		update team set reliability=reliability-#{much}
		where name=#{name}
	</select>
	
	<!-- 전적 갱신 -->
	<select id="modifyRecord" parameterType="map">
		update team set #{result}=#{result}+1
		where name=#{name}
	</select>
	
	<!-- 승점 갱신 -->
	<select id="modifyPoints" parameterType="String">
		update team set points=wins*3+draws*1
		where name=#{name}
	</select>
</mapper>