<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ido.arduino.mapper.MatchRequestDto">


	<!-- 검색 조건에 모두 맞는 내용 찾기 -->
	<select id="alloption" resultType="request">
		select m.date , m.time, l.gu,
		m.isBooked,m.formCode, c.name from
		matching m
		left outer join court c on
		m.courtID = c.courtID
		left outer
		join location l on m.locationID =
		l.locationID

		where
		l.locationID = #{locationID}
		and m.date LIKE CONCAT('%',#{date},'%')
		and m.time=#{time}
		and m.isBooked =#{isBooked}
		and m.formCode = #{formCode}

	</select>


	<!-- 검색 조건중 위치, 날짜 맞는 내용 찾기 -->

	<select id="simpleoption" resultType="requestsimple">
		select m.date , m.time,
		l.gu, m.isBooked,m.formCode, c.name from matching m
		left outer join
		court c on m.courtID = c.courtID
		left outer join location l on
		m.locationID = l.locationID
		where
		l.locationID = #{locationID}
		and m.date LIKE CONCAT('%',#{date},'%')


	</select>


	<!-- 검색한 조건 없으면 매칭 등록 -->
	<insert id="insertmatch" parameterType="match">
		insert into
		matching(homeTeamID,locationID,date,time,formCode,isBooked)
		values
		(#{homeTeamID},#{locationID},#{date},#{time},#{formCode},#{isBooked});
	</insert>



	<!-- 나에게 온 매칭 정보 -->
	<select id="comematch" resultType="match">
	</select>


	<!-- 내가 신청목록에 올려둔 매칭 정보 -->

	<select id="mymatch" resultType="match">
	</select>
	
	<select id="">
	SELECT*FROM matching WHERE matchID = #{matchID}
	</select>

	<!-- 매칭 신청하기 -->
	<insert id="registerForGame" parameterType="map">
		INSERT INTO waiting (matchID, awayTeamID) VALUES (#{matchID}, #{teamID})
	</insert>
	
	<!-- 매칭 신청 중복검사 (waiting) -->
	<select id="checkIfRegistered" parameterType="map" resultType="int">
		 SELECT COUNT(*) FROM waiting WHERE matchID=#{matchID} AND awayTeamID=#{teamID}
	</select>

</mapper>