<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ido.arduino.dao.RequestMapper">
	<!-- 해당 팀의 가입 요청 목록 -->
	<select id="getAllRequests" parameterType="int"
		resultType="RequestDTO">
		SELECT * FROM request
		INNER JOIN user ON request.userID =user.userID
		WHERE teamID=#{teamID}
	</select>

	<!-- 해당 팀/유저의 가입 요청 가져오기 -->
	<select id="getRequest" parameterType="map" resultType="RequestDTO">
		SELECT * FROM request
		INNER JOIN user ON request.userID = user.userID
		WHERE teamID=#{teamID} AND user.userID=#{userID}
	</select>
	
	<!-- 팀 가입 요청 중복 검사 -->
	<select id="checkIfRequested" parameterType="map" resultType="int">
		 SELECT COUNT(*) FROM request WHERE userID=#{userID} AND teamID=#{teamID}
	</select>

	<!-- 팀 가입 요청 INSERT -->
	<insert id="insert" parameterType="map">
		INSERT INTO request(userID,
		teamID)
		VALUES(#{userID}, #{teamID})
	</insert>

	<!-- 팀 가입 요청 목록에서 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM request WHERE
		requestID = #{requestID}
	</delete>
</mapper>