<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ido.arduino.mapper.TeamInfoDto">


	<!-- 팀 추가 -->
	<insert id="insert" parameterType="teaminfo">
		insert into team ( name, description) 
     	values (#{name},#{description})
	</insert>	
	<!-- 팀 수정 -->
	<update id="update" parameterType="teaminfo" >
		 update team 
		 set name=#{name}, description=#{description}, guCode=#{guCode} 
      	 ,profileURL=#{profileURL}
     	 where teamID=#{teamID}
	</update>
	
	<!--  팀 삭제  -->
	<delete id="delete" parameterType="string">
		delete from team where name=#{name}
	</delete>
	
	<select id="selectAll"  resultType="teaminfo">
		select * from team
	</select>

</mapper>